In [48]:
%matplotlib inline
# Dependencies and Setup
from matplotlib.legend_handler import HandlerPatch
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.patches as mpatches

In [53]:
# Files to Load
marathon_men_data ="C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 7\\Resources\\major_marathon_men (1).csv"
marathon_women_data ="C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 7\\Resources\\major_marathon_women (2).csv"


# Read the men and women Data
marathon_men_data_df = pd.read_csv(marathon_men_data)
marathon_women_data_df = pd.read_csv(marathon_women_data)

In [58]:
# Merge the two datasets 
joined_data_df = pd.concat([marathon_men_data_df, marathon_women_data_df])
joined_data_df.head(5)

     Year         Athlete         Country     Time Marathon
0  2018.0   Yuki Kawauchi           Japan  2:15:58   Boston
1  2018.0        Mo Farah  United Kingdom  2:05:11  Chicago
2  2018.0  Eliud Kipchoge           Kenya  2:01:39   Berlin
3  2018.0  Eliud Kipchoge           Kenya  2:04:17   London
4  2018.0  Dickson Chumba           Kenya  2:05:30    Tokyo

In [59]:
# Using GroupBy in order to separate the data into fields according to "Country" values
grouped_country_df = joined_data_df.groupby(['Country'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_country_df)

# In order to be visualized, a data function must be used...
# grouped_country_df.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000017FFE7D5DA0>

In [60]:
#Winner Count per country
Winner_Count_per_country = grouped_country_df[["Athlete"]].count()
Winner_Count_per_country.sort_values(by=["Athlete"], ascending=False).head(5)

                Athlete
Country
Kenya               139
United States        70
Ethiopia             51
United Kingdom       36
Japan                19

In [61]:
# File to Load
country_gdp_data ="C:\\Users\\taiwo\\OneDrive\\Desktop\\PREWORK_TO\\Module 7\\Resources\\Country GDP.csv"

# Use Pandas to read data
country_gdp_pd = pd.read_csv(country_gdp_data)
country_gdp_pd.head()

,Year,Ethiopia,United Kingdom,Japan,Kenya,United States
0,1960,NaN,"72,328,047,042.16","44,307,342,950.40","791,265,458.82","543,300,000,000.00"
1,1961,NaN,"76,694,360,635.92","53,508,617,739.38","792,959,472.14","563,300,000,000.00"
2,1962,NaN,"80,601,939,635.25","60,723,018,683.73","868,111,400.01","605,100,000,000.00"
3,1963,NaN,"85,443,766,670.43","69,498,131,797.33","926,589,348.57","638,600,000,000.00"
4,1964,NaN,"93,387,598,813.93","81,749,006,381.51","998,759,333.64","685,800,000,000.00"

#FILTERING BY COUNTRIES

In [69]:
#Ethiopian Data - Winner count per year
Ethiopia_data = joined_data_df[joined_data_df['Country']=='Ethiopia']
Ethiopia_data = Ethiopia_data["Year"].value_counts()
Ethiopia_data.head()

2010.0    6
2016.0    5
2015.0    4
2014.0    4
2012.0    4
Name: Year, dtype: int64

In [71]:
#UK Data
United_Kingdom_data = joined_data_df[joined_data_df['Country']=='United Kingdom']
United_Kingdom_data = United_Kingdom_data["Year"].value_counts()
United_Kingdom_data.head()

1985.0    4
1996.0    3
1982.0    3
1984.0    3
1983.0    2
Name: Year, dtype: int64

In [72]:
#Japan Data
Japan_data = joined_data_df[joined_data_df['Country']=='Japan']
Japan_data = Japan_data["Year"].value_counts()
Japan_data.head()

1987.0    2
1986.0    2
2000.0    1
1965.0    1
2010.0    1
Name: Year, dtype: int64

In [73]:
#Kenyan Data
Kenya_data = joined_data_df[joined_data_df['Country']=='Kenya']
Kenya_data = Kenya_data["Year"].value_counts()
Kenya_data.head()

2013.0    9
2017.0    9
2015.0    8
2011.0    8
2014.0    8
Name: Year, dtype: int64

In [74]:
#USA Data
United_States_data = joined_data_df[joined_data_df['Country']=='United States']
United_States_data = United_States_data["Year"].value_counts()
United_States_data.head()

1978.0    5
1979.0    5
1977.0    5
1982.0    4
1973.0    4
Name: Year, dtype: int64

In [76]:
#define data
x1 = Ethiopia_data
y1 = country_gdp_pd['Ethiopia']/10000000000
x2 = United_Kingdom_data
y2 = country_gdp_pd['United Kingdom']/10000000000
x3 = Japan_data
y3 = country_gdp_pd['Japan']/10000000000
x4 = Kenya_data
y4 = country_gdp_pd['Kenya']/10000000000
x5 = United_States_data
y5 = country_gdp_pd['United States']/10000000000


plt.ylabel('GDP Per Country $ Per Year')
plt.xlabel('Total No Of Marathons Won Per Year')
plt.title('GDP Vs Country Marathon Wins(1960 - 2018)')
#plt.text(45,35,"Note: circle size reflects driver count per city")


plt.scatter(x1, y1, marker='o', label='Ethiopia', c='coral' , alpha=1, edgecolors='black')
plt.scatter(x2, y2, marker='o', label='United Kingdom', c='skyblue', alpha=1, edgecolors='black')
plt.scatter(x3, y3, marker='o', label='Japan', c='gold', alpha=1, edgecolors='black')
plt.scatter(x4, y4, marker='o', label='Kenya', c='red', alpha=1, edgecolors='black')
plt.scatter(x5, y5, marker='o', label='United States', c='green', alpha=1, edgecolors='black')

# Plot legend.
plt.legend(loc="upper right", markerscale=1., scatterpoints=1, fontsize=10)
plt.grid(True)
plt.show()

TypeError: unsupported operand type(s) for /: 'str' and 'int'